* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #f1a3dd, #a8e5ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.spinwheel-container,
.voucher-container {
    margin-top: 8%;
    background-color: #eccfffec;
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
}

.spinwheel-container {
    flex: 1;
    margin-right: 2em;
}

.voucher-container {
    flex: 0 0 40%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#spin-button {
    position: absolute;
    transform: translate(-50%, -75%);
    top: 47%;
    left: 51%;
    height: 21%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#e6c1ff 50%, #d8acff 85%);
    color: #5c009e;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
}

img {
    position: absolute;
    width: 4em;
    top: 40%;
    right: -8%;
}

#final-value, #store {
    font-size: 1.5em;
    text-align: center;
    color: #5c009e;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .wrapper {
        font-size: 12px;
    }

    img {
        right: -10%;
    }
}

select {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
}

button {
    background: linear-gradient(to bottom, #0301a1, #2147ef);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.container2 {
    padding: 2px 16px;
}

#back-to-home {
    background: linear-gradient(to bottom, #8d2424, #db0000);
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    text-align: center;
}
